


/* shared CSS */
.display-flex{
  display: flex;
    
}
.text{
  color: white;
}

.description{
  color: gray;
  font-weight: 40px;
}

.btn-primery{
  font-weight: bold;
  border: 1px solid lightcyan;
  border-radius: 18px;
  padding: 15px;
  color: white;
  background-color: rgba(255, 68, 0, 0.845);
}
.btn-primery-2{
  font-weight: bold;
  border: 1px solid lightcyan;
  border-radius: 18px;
  padding: 15px;
  color: white;
  background-color: rgba(76, 72, 70, 0);

}

/* shared CSS */


/* This is header section css */
body{
  background-color: rgba(0, 0, 0, 0.932);

}

.header{
  justify-content: center;
  align-items: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px auto;
    
}

.nav-item{
    display: flex;
    list-style: none;
    text-decoration: none;
    margin: 0px 30px;

    font-weight: 700px;
    background-color: rgb(95, 84, 84);
    border-radius: 15px;
    text-align: center;
    align-items: center;
  }

  .nav-link{
    text-decoration: none;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin-right: 30px;
    border: none;
    margin: 3px;
  
}

.brand{
  font-size: 60px;
  font-family: initial;
  font-weight: 800px;
  color: red;
}
.hm-btn{
  background-color: rgb(222, 12, 12);
  border-radius: 15px;
  padding: 2px;
  justify-content: center;
  
}

/* Header section end */

/* this is banner section */
.banner-container{
  display: flex;
  justify-content: space-between;
  
}

.banner-title{
  margin: 20px;
  /* padding: 20px; */
}

.title{
  font-size: 54px;
  font-weight: 600px;
}

.button{
  display: flex;
  justify-content: space-between;
 
}

.banner-img{
  position: relative;

}

.img-btn{
  background-color: #55555521;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}

.btn-top{
  position: absolute;
  top: 20%;
  left: 60%;

}

.btn-bottom{
  position: absolute;
  bottom: 10%;
  right: 80%;
  padding: 0px 60px;
  
}

/* Banner section end */


















 /* Responsive small device media query */

 @media screen and (max-width:576px){
  /* header responsive */
  .nav-item{
    display: none;
  }
  .navbar{
    display: flex;
    justify-content: space-between;
  
  }

  .menu-hamburger{
    margin-right: 15px;
  }
  .hamburger{
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;

  }

  .button{
    gap: 50px;
  }

  /* header responsive end */

  /* Banner rwsponsive */
  .banner-container{
    flex-direction: column;
  }

  .btn-bottom{
    bottom: 40%;
    right: 60%;
    padding: 0px 30px;
  }
  /* banner responsive end */

























  

}
/* small responsive end */


/* this responsive for large device  */

@media screen and (min-width:576px){
  .menu-hamburger{
    display: none;
  }






}